* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.demo {
  width: 10rem;
  height: 10rem;
  background-color: red;
  margin: 10rem;
  padding: 2rem;
  word-wrap: break-word;
}
