* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --font-heading: "Sen", sans-serif;
}

body {
  height: 1000px;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ======================= Common ========================== */

a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 0 24px;
  min-width: 118px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
  /* 185.714% */
}

.btn:hover {
  opacity: 0.9;
}

.heading2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.heading3 {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  /* 166.667% */
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line2 {
  --line-clamp: 2;
}

/* ======================= Header ========================== */

.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .header-body {
  display: flex;
  align-items: center;
  padding: 36px 0px 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
  /* 175% */
}

.nav li.active a {
  position: relative;
}

.nav li.active a::after {
  position: absolute;
  bottom: 6px;
  left: 22px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.action {
  margin-left: 49px;
}

.btn-sign-up {
  width: 144px;
  font-size: 1.6rem;
  /* 175% */
}

/* ================================main=============================== */

/* ===================hero================ */

.hero {
  background: #fffcf4;
  padding: 56px 0px 65px;
}

.hero .hero-body {
  display: flex;
  justify-content: space-around;
}

.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .hero-img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  border-radius: 20px;
}

.hero .media-block .hero-summary {
  padding: 24px;
  background-color: red;
  position: absolute;
  bottom: 48px;
  right: 0px;
  border-radius: 12px;
  background: #fff;
  width: 270px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .media-block .hero-summary .item {
  display: flex;
  align-items: center;
}

.item .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.item .icon2 {
  background-color: #fcefff;
}

.item .icon3 {
  background-color: #ebeaff;
}

.item .info {
  margin-left: 16px;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 186%;
  /* 185.714% */
}

.hero-summary .title {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 167%;
  /* 166.667% */
}

.hero .content-block {
  width: 52%;
  padding-top: 64px;
  padding-left: 130px;
}

.hero .content-block .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .content-block .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-top: 22px;
  /* padding-top: 22px; */
}

.hero .content-block .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero .content-block .cta-group .btn {
  border-radius: 32px;
  background-color: #ffb900;
  min-width: 180px;
  line-height: 64px;
}

.hero .watch-video {
  border: none;
  background-color: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  margin-left: 14px;
  /* 166.667% */
}

.hero .content-block .desc:nth-last-child(2) {
  margin-top: 48px;
}

.hero .content-block .desc:nth-last-child(1) {
  margin-top: 8px;
}

.hero .content-block .desc:nth-last-child(1) strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  margin-right: 15px;
  /* 122.727% */
}

.hero .content-block .desc:nth-last-child(1) strong + strong {
  margin-left: 28px;
}

/* ===================popular================ */

.popular {
  padding-top: 200px;
  padding-bottom: 200px;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top p.desc {
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}

.popular-top .control {
  display: flex;
  gap: 18px;
}

.popular-top .controler-btn {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #ffb900;
  width: 40px;
  height: 40px;
  display: flex;
  color: #ffb900;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popular-top .controler-btn:hover {
  color: white;
  border-radius: 40px;
  background: #ffb900;
}

.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.course-list .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.course-list .course-item:hover {
  border: 1px solid transparent;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.course-list .course-item .thumb {
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  width: 100%;
}

.course-item .info {
  margin: 16px 22px 22px;
}

.course-item .info .foot,
.course-item .info .head,
.course-item .info .head .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-item .info .head .point {
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75px;
  margin-left: 6px;
  /* 175% */
}

.course-item .info p.desc {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
  /* 185.714% */
}

.course-item .info .foot {
  margin-top: 12px;
}

.course-item .info .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  /* 166.667% */
}

.course-item .info .foot .btn {
  cursor: pointer;
  border: none;
}

.course-item .info .foot .btn:hover {
  background: #ffb900;
}

/* =================quote================= */

.quote {
  height: 380px;
  background: #2e2100;
}

.quote-body {
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-body .info {
  min-width: 159px;
}

.quote-body .info .author-avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.quote-body .info .author-name {
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
  margin-top: 16px;
  /* 141.667% */
}

.quote-body .info .author-detail {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
  margin-top: 4px;
}

.quote-body .info .quote-carousel {
  margin-top: 28px;
  width: 30px;
  height: 6px;
}

.quote-body .content {
  margin-left: 241px;
}

.quote-body .content .bracket {
  width: 30px;
  height: 28px;
}

.quote-body .content .the-quote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
}
